/* 🔥 네비게이션 */

.navbar {
  position: fixed;
  top: 2vw;
  left: 0;
  width: 100%;
  padding: 0 2.6vw;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  display: block;
  width: 7vw; /* 로고 크기는 여기서 조절 */
  height: auto;
}
/* 메뉴 */
.menu {
  display: flex;
  align-items: center;
  gap: 3vw;

  padding: 0;
  margin: 0;

  list-style: none;
}

.menu li {
  padding: 0;

  font-size: 1.04vw;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;

  transition: opacity 0.2s ease;
}

/* hover */
.menu li:hover {
  opacity: 0.6;
}

/* active */
.menu li.active a,
.menu a.active {
  text-decoration: underline;
  text-underline-offset: 0.55em; /* 글자와 밑줄 사이 간격 */
  text-decoration-thickness: 1.7px; /* 밑줄 두께 */
}

/* 링크 */
.menu a {
  text-decoration: none;
  color: inherit;
}
.opening-page .logo {
  display: none;
}
