/* 🔥 네비게이션 */
.navbar {
  position: fixed;
  top: 1.3vw;
  left: 0;
  width: 100%;
  padding: 0 2.6vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.logo {
  font-size: 1.35vw;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.menu {
  display: flex;
  gap: 0.55vw;
  background: rgba(225, 80, 47, 0.8);
  padding: 0.45vw;
  border-radius: 999px;
  list-style: none;
  margin: 0;
}

.menu li {
  padding: 0.45vw 1.45vw;
  border-radius: 999px;
  font-size: 0.88vw;
  color: #f9f9f9;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* 🔥 hover */
.menu li:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* 🔥 active */
.menu .active {
  background: #ff5811;
  color: #ffffff;
  font-weight: 500;
}

.menu a {
  text-decoration: none;
  color: inherit;
}
